

.middle-bar {
    position: absolute;
    top: 550px;
    background: #2c3747;
    font-family: "MuseoSans300",sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    width:100%;
    z-index: 5;
    height: 86px;
    margin: 0 auto;
}

.middle-bar a {
    padding: 30px 0;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    text-align: center;
    color: #fff!important;
    width: 21.6%;
    text-decoration: none;
}

.middle-bar a:hover, .middle-bar a:active, .middle-bar a:focus {
    width: 21.6%;
    background: #3a485d;
    text-decoration: none;
}

.main_body_container{
    position: absolute;
    top: 690px;
    width: 100%;
    height: auto;
    z-index:1;
}

.canvascontainer {
    position:relative;
    width: 100%;
}

.color-pannel{
    position: absolute;
    top: 0px;
    z-index: -1;
}

.jumbotron {
    position: relative;
    top: 0px
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    z-index:1;
}

.masthead{
    position: relative;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-bottom: 0;
    height: 600px;
    z-index: 2;
    background-image: url(/resource/image/cloud_bridge.jpg); display: block; float: left; position: relative;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:0px -200px;
    top: 30px;
    width: 100%;
    bottom: 0px;
    background-color: #8e4c9b;
    z-index:1;
}

.sitename-rows{
    position: relative;
    height: 460px;
    left: 200px;
    right: 50px;
    padding: 60px 30px;
    display: block;
    width: 40%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.introduce{
/*    background-color: #D6E3BA;*/
}

.text2excel{
    /*background-color: #7A991F;*/
}

.canvas {
    position:relative;
}

.imgcontainer {
    position:relative;
    visibility:hidden; 
    z-index = -1; top:0
}

.app_icon {
    height: 50px;
}

.index_push{
    height: 1248px;
}