<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="/terms" title="The terms of use of this website">Terms of use</a></li>
      <li class="muted">·</li>
      <li><a href="/privacy" title="How we deal with information that you provide us">Privacy Policy</a></li>
      <li class="muted">·</li>
      <li><a href="/contact" title="Contact">Contact</a></li>
    </ul>
    <span role="contentinfo">Copyright 2013 - {{ SITENAME }} Australia. All rights reserved.</span>
  </div>
</footer>

