{% extends "basepage.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content%} 

<div id="content" class="shadow">
  <p>The following are terms of a legal agreement between you and {{ sitename }}.</p>
  
  <p>By accessing, browsing and/or using this Website, you acknowledge that you have read, understood, and agree to be bound by these terms and to comply with all applicable laws and regulations. If you do not agree to these terms, do not use this Website or the software and services related to it.</p>

  <p>{{ sitename}} may at any time revise these terms by updating this posting. By using this Website, you agree to be bound by any such revisions and should therefore periodically visit this page to determine the current terms to which you are bound.</p>

  <p>This Website may include typographical errors or inaccuracies. {{ sitename }} may make improvements and/or changes in the products, services, programs, and prices described in this Website at any time without notice. Periodically changes are made to the Website.</p>
  
  <h3>Community Tools</h3>

  <p>{{ sitename}} may, but is not obligated to, monitor or review any areas on the Website where users transmit or post communications or communicate solely with each other, including, but not limited to any community tool, like the {{ sitename}} Add-ons repository, bulletin boards and/or user forums, bugs and features trackers, and the content of any such communications. {{ sitename}}, however, will have no liability related to the content of any such communications, whether or not arising under the laws of copyright, privacy, libel, obscenity, or otherwise.</p>

  <p>Whenever part of the information made available in one of the online community tools, managed by {{ sitename}}, even if controlled by others, is used in the software produced and distributed by {{ sitename}}, it may become property of {{ sitename}} and therefore it can be distributed under any license by {{ sitename}}. The publisher of the related information is liable to any legal issue related to the copyright or usage rights of the information and {{ sitename}} has no liability and cannot be implicated to any penalty of using such information in any software. {{ sitename}} is allowed to change or delete data stored in the community tools without prior notice and for any reason, with no {{ sitename}} liability for data loss.</p>

  <h3>Ownership Information</h3>

  <p>The information on this Website, along with any Materials (including, for example, white papers, press releases, data sheets, product descriptions and FAQs) is the copyrighted work of {{ sitename }} and is protected under Australia and worldwide copyright laws and treaty provisions. {{ sitename }} grants you permission to copy such Materials so long as each copy (i) is solely for informational, non-commercial use in support of {{ sitename }} products and is not modified or revised in any manner, (ii) plainly displays all copyright and other proprietary notices, in the same form and manner as on the original and (iii) displays a statement that the Materials are used solely with permission of {{ sitename }}.</p>

  <p>Except as expressly granted in this section (or to you specifically in writing), {{ sitename}} and its suppliers do not grant any express or implied right to you under any patents, copyrights, trademarks, or trade secret information.</p>

  <h3>Trademarks</h3>

  <p>{{ sitename }}'s trademarks may be used publicly only with permission from {{ sitename}} and proper acknowledgement. The names {{ sitename}} and their logos are trademarks of {{ sitename}}.</p>

  <p>Keep in mind that every potential {{ sitename}} trademark must be cleared through legal searches prior to adoption to reduce potential infringements, whether or not they will go through the formal registration process. All other trademarks, brands, and names are the property of their respective owners.</p>

  <h3>Privacy</h3>

  <p>We recognize that when you choose to provide us with information about yourself, you trust us to act in a responsible manner. That's why we have put in place a Privacy Statement to protect your personal information. You should review this document before providing any personal data on this Website. Please read our <a href="/privacy">Privacy Statement</a>.</p>

  <h3>Support</h3>

  <p>{{ sitename }} may offer paid support services. By acquiring these services, you will have a dedicated communication channel with {{ sitename }}.</p>

  <p>You agree that, even if {{ sitename }} does its best to provide you high quality on its services, you may not receive responses for support requests immediately and there is no maximum period of time to receive such responses, unless otherwise specified in the License Agreement. {{ sitename}} can't also guarantee that every request will have a positive and expected response.</p>

  <p>Support services don't include any code development activity, like bug fixing and feature requests, but not limited to, unless otherwise specified in the License Agreement. The subject of the support messages must be strictly related to the product you are properly licensed to, as long as distributed by {{ sitename}}.</p>

  <p>Support is offered by subscription to a specific period of time.</p>

  <h3>Refunds</h3>

  <p>Refunds are available if requested within thirty (30) days after the purchase date. The value of the refund is equivalent to the complete value of the purchase, detracted from any costs related to the purchase process (for example payment gateways, but not limited to) and to the refund process.</p>

  <p>You may decide to not use e-mail support, but no refund will be offered in case of your desistance. If any product is offered with support integrated, and the support system has been used by you, no refund will be available for the product.</p>

  <h3>Disclaimers</h3>

  <p>THE USE OF THESE PAGES AND ANY SOFTWARE OR SERVICE ACQUIRED FROM CKSOURCE, IS AT YOUR SOLE RISK. THIS WEBSITE, ITS SOFTWARE AND SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. CKSOURCE EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT WITH RESPECT TO THIS WEBSITE AND ITS SOFTWARE.</p>

  <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT CKSOURCE IS NOT LIABLE FOR ANY, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF REVENUES, PROFITS, GOODWILL, USE, DATA, FAILURE TO REALIZE EXPECTED SAVINGS, OR OTHER INTANGIBLE LOSSES ARISING FROM YOUR USE OF THIS WEBSITE OR SOFTWARE OR SERVICES ACQUIRED FROM CKSOURCE, EVEN IF CKSOURCE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

  <p>Although {{ sitename}} has attempted to provide accurate information on this Website as a service to its users, {{ sitename}} assumes no responsibility for, and makes no representations with respect to, the accuracy of the information. {{ sitename}} may change the programs or products mentioned at any time without notice. You agree that {{ sitename}} shall not be liable to you or to any third party for any modification, suspension or discontinuance of such software products or support services.</p>

  <p>This site may contain indications of {{ sitename}}'s current plans. {{ sitename}} does not guarantee that any feature or product mentioned in this site will be produced, or produced in the form described. {{ sitename}} reserves the right to modify its roadmaps without notice.</p>

  <p>Mention of non-{{ sitename}} products or services is for information purposes only and constitutes neither an endorsement nor a recommendation.</p>

  <p>Any claims relating to the materials or the Website will be governed by Australian law.</p>

  <h3>Applicable Laws</h3>

  <p>This Website originates from and is maintained in Australia, and {{ sitename}} makes no representations regarding the legality of access to or use of the site or the materials from other countries. Any use of the materials by a user must be in compliance with all Australian laws and regulations in effect at the time of such use, and use is limited as described in these Terms and Conditions.</p>
  
  <p>Access in countries where the materials are illegal is prohibited: users who access the Website from outside of Australia do so at their own risk and are responsible for compliance with applicable Australia and local country laws.</p>
  
</div>


{%endblock%}
